*, *::before, *::after 
{

    box-sizing: border-box;
}

:root {
    --standard-white: hsl(0, 0%, 100%);
    --transparent-white-80: hsl(0, 0%, 40%);
    --cold: rgb(0, 254, 255); 
    --heating: rgb(247, 55, 24);
}
h3 {
    font-size:1rem;
    letter-spacing: 0.01rem;
}
body {

    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    background-color:rgb(98, 98, 250);


}
.container {
    max-width:1200px;
    margin-inline: auto;
}

.container-xl {
    max-width:1500px;
    margin-inline: auto;
}


.active {
    color: var(--standard-white);
}
.cold {

    color:var(--cold);
}

.heating {
    color: var(--heating);
}
.primary-header {
    grid-column: 1 / -1;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
.btn-logout {
    padding:.5rem 1rem;
    border:none;
    box-shadow: black 1px 2px 3px 1px;
    background-color: var(--standard-white);
    transition: transform 200ms ease-in-out;
}
.btn-logout:hover,.btn:hover
{
    transform:scale(1.2);
    cursor: pointer;
}

.main-title {
    font-size:3rem;
    color:#ffff;
    text-align: center;
    
    align-self: center;
 
}
.temperatures {
    display:grid;


    gap:2rem;
    place-items:center;
}
.circle {
    width: 250px;
    height:250px;
    border-radius: 50%;
    position: relative;
}
.icon {
    font-size:4rem;
}

.status-group {
  
    display:flex;
    padding:1rem;
    gap:5rem;
    justify-content: space-evenly;
    color:hsl(0, 0%, 80%);

    flex-wrap: wrap;
    justify-self: center;
}
#chart-1 {
    width:100%;
    height: 100%;

}
#chart-2 {
    width:100%;
    height: 100%;

}
.group {

display:flex;
justify-content: center;
gap:1rem;
width:100%;

}

.centre {
  
    position: relative;
 
   /* width:100%;
    min-width:60%; */


    flex-basis:100%;
  
    overflow: hidden;
    
}
#line-chart 
{ 
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    min-width:100%;
    min-height:100%;
}

.circle:nth-child(1) {
 
  
   
    
}

.circle:nth-child(2) {
   
    
  
}

.icon-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    color:#ffff;
    text-align: center;
}

.left-sidebar {

    flex-basis:10%;
  
}

.line-graph {


}
.right-sidebar {


}
/* FORM */

.login-container {
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
}

.login-form {
    font-size:1.5rem;
   border-radius: 10px;
   
    width:100%;
    max-width:400px;
    background-color: var(--standard-white);
    display:flex;
    gap:1rem;
    padding:5rem;
    flex-direction: column;

}

.form-control {
    display:flex;
    flex-direction: column;
    gap:.5rem;
    position: relative;
  
}


.form-control input {

    padding:1rem;
    border:1px solid #ccc;
    border-radius: 15px;
   
}



.btn {
    padding:1rem;
    border:none;
    box-shadow: black 1px 2px 4px 1px;
    background-color: var(--heating);
    color:var(--standard-white);
    font-weight: bold;
    transition: transform 200ms ease-in-out;
}

@media screen and (max-width: 1200px) {
    
    .group 
    {

        align-items: center;
        flex-direction: column;
        
    }

    .centre {
        min-height:200px;
        min-width: 500px;;
    }
}

@media screen and (max-width: 500px) {
    .centre {
        min-height:200px;
        min-width: 300px;;
    }
}

.error-message {
    color:#ff0000;
    font-size:1rem;
}
.form-title {
    font-size:2.3rem;
    text-align: center;
}
.red-border {
    border:1px solid #ff0000 ;
}

.center-text {
    text-align: center;
}
.color-white {

    color:#ffff;
}